html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  /* 继承父元素的文字颜色 */
}

a:active {
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 768px;
}

.main-content {
  min-height: 100vh;
}
